html {
    height: 100%;
    width: 100%;
  }
  
  #handle2 .rs-handle  {
      background-color: transparent;
      border: 8px solid transparent;
      border-right-color: black;
      margin: -8px 0 0 14px !important;
  }
  #handle2 .rs-handle:before  {
      display: block;
      content: " ";
      position: absolute;
      height: 12px;
      width: 12px;
      background: black;
      right: -6px;
      bottom: -6px;
      border-radius: 100%;
  }
  #handle2 .rs-handle:after  {
      display: block;
      content: " ";
      width: 106px;
      position: absolute;
      top: -1px;
      right: 0px;
      border-top: 2px dotted black;
  }
  #handle2 .rs-range-color  {
      background-color: #33B5E5;
  }
  #handle2 .rs-path-color  {
      background-color: #C2E9F7;
  }
  